p .question {
    font-size: 100%;
    line-height: 1.2em;
}
p .answer {
    font-size: 90%;
    line-height: 1em;
}

pre {
    font-size: 94%;
    background-color: #cccccc;
    font-weight: bold;
    font-family: "Droid Sans";
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}